<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.tkrynski.background_location_handler">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application>
        <receiver android:name="com.tkrynski.background_location_handler.LocationUpdatesBroadcastReceiver" />
    </application>
</manifest>
